[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rosetteApi"]
	path = rosetteApi
	url = https://github.com/cran/rosetteApi
	shallow = true
	registered = true
